<!DOCTYPE html>
<html>
<head>
    <title>Send SMS</title>
</head>
<body>
    <h1>Send SMS to Filtered Records</h1>
    <h2>Recipients:</h2>
   <!-- <ul>
        {% for record in records %}
        <li>{{ record.name }} ({{ record.mob_no }})</li>
        {% endfor %}
    </ul>-->
    <form method="post">
        {% csrf_token %}
        <textarea name="custom_message" placeholder="Enter your custom message here..." rows="4" cols="50"></textarea>
        <br>
        <button type="submit">Send SMS</button>
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
    </form>
</body>
</html>
